#mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#mainDiv > div
{
  width: 100%;
}

mat-toolbar {
  background-color: #a50a50;
  color: #fff;
}

#toolbarDiv
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}
 label {
  color: #fff;
 }

 #submenu {
  background-color: #808080;
  padding: 0 10px;
 }

 #viewDiv {
  display: flex;
    justify-content: center;
}
