<div id="productsDiv">
  <ng-container *ngFor="let product of products">
    <div *ngIf="filter && product.articles[0].pricePerLiter > 2">

      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="product.articles[0].image" alt="Photo of a Shiba Inu">
         </mat-card-content>
       </mat-card>
     </div>

     <div *ngIf="!filter">

      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="product.articles[0].image" alt="Photo of a Shiba Inu">
         </mat-card-content>
       </mat-card>
     </div>
</ng-container>

</div>
